.logo{
    .link{text-decoration: none !important;
        color: black;}
}
.preview{
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    margin: auto;



#renderPreview
{  .titulo{
        font-size: xx-large;
        font-weight: bolder;
        text-align: left;
    }
}
    .card-text{text-align: left;
    width: 80%;
    height: fit-content;
    font-size: large;
    font-weight: bold;
    }
    .texto-adicional{
        text-align: left;
    }
}

